#!/bin/sh

set -e

cd {{ blocked_names_generator_path }} && \
    /usr/bin/python3 {{ blocked_names_generator_path }}/generate-domains-blocklist.py \
    -o {{ blocked_names_path }}

chmod 0400 {{ blocked_names_path }}
chown dnscrypt:dnscrypt {{ blocked_names_path }}
